* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #004d00; /* Yeşil */
    color: white;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
    margin: 20px 0;
}

button {
    background-color: #008000; /* Yeşil */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005700;
}

#menu {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

#menu a:hover {
    background-color: #005700;
}

footer {
    background-color: #004d00;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
}
